<a href="https://colab.research.google.com/github/mehmetakifkucuk/googlecolab/blob/main/json_work.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# https://towardsdatascience.com/all-pandas-json-normalize-you-should-know-for-flattening-json-13eae1dfb7dd

In [67]:
import pandas as pd
# from pandas.io.json import json_normalize

In [165]:
#@title
# data = [{"id": 1, "name": {"first": "Coleen", "last": "Volk"}},
#         {"name": {"given": "Mose", "family": "Regner"}},
#         {"id": 2, "name": "Faye Raker"}]

# data = [{"state": "Florida",
#           "shortname": "FL",
#           "info": {
#                "governor": "Rick Scott"
#           },
#           "counties": [{"name": "Dade", "population": 12345},
#                       {"name": "Broward", "population": 40000},
#                       {"name": "Palm Beach", "population": 60000}]},
#          {"state": "Ohio",
#           "shortname": "OH",
#           "info": {
#                "governor": "John Kasich"
#           },
#           "counties": [{"name": "Summit", "population": 1234},
#                        {"name": "Cuyahoga", "population": 1337}]}]

# data = {'etlType': 'HIVE',
#  'duration': 369,
#  'startTime': '2021-04-21 03:05:53.0',
#  'entry_id': 27458444,
#  'componentType': 'NA',
#  'optimusTaskId': 'prod_dwh.trip',
#  'endTime': '2021-04-21 03:12:02.0',
#  'status': 'SUCCESS',
#  'targetName': 'prod_dwh.trip',
#  'message': 'NONE',
#  'clusterName': 'ip-10-0-62-192',
#  'authorName': 'Akif Kucuk',
#  'updateTime': '2021-04-21 03:12:02.0'}

# data = [{
#   "destination_addresses": [
#     "Philadelphia, PA, USA"
#   ],
#   "origin_addresses": [
#     "New York, NY, USA"
#   ],
#   "rows": [{
#     "elements": [{
#       "distance": {
#         "text": "94.6 mi",
#         "value": 152193
#       },
#       "duration": {
#         "text": "1 hour 44 mins",
#         "value": 6227
#       },
#       "status": "OK"
#     }]
#   }],
#   "status": "OK"
# },
# {
#   "destination_addresses": [
#     "Philadelphia, PA, USA"
#   ],
#   "origin_addresses": [
#     "New York, NY, USA"
#   ],
#   "rows": [{
#     "elements": [{
#       "distance": {
#         "text": "94.6 mi",
#         "value": 152193
#       },
#       "duration": {
#         "text": "1 hour 44 mins",
#         "value": 6227
#       },
#       "status": "OK"
#     }]
#   }],
#   "status": "NOK"
# }]

data = {'userId': 1, 'id': 1, 'title': 'delectus aut autem', 'completed': False}

In [ ]:
#@title
data

In [115]:
result = pd.json_normalize(data, 'counties', ['state', 'shortname',
                                           ['info', 'governor']])
# result = pd.json_normalize(data)

In [116]:
result
# result[['etlType']]
# result[['etlType', 'duration']]

     destination_addresses  ... status
0  [Philadelphia, PA, USA]  ...     OK

[1 rows x 4 columns]

In [154]:
result = pd.json_normalize(
    data
    ,
    record_path =['rows','elements']
    , 
    meta=['destination_addresses', 'origin_addresses','status'],
    record_prefix='_'
)

In [155]:
result
# result[['duration.value']]

  _status _distance.text  ...   origin_addresses status
0      OK        94.6 mi  ...  New York, NY, USA     OK
1      OK        94.6 mi  ...  New York, NY, USA    NOK

[2 rows x 8 columns]

In [156]:
pip install requests

Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (2.23.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests) (2020.12.5)

In [172]:
import json
import requests
response = requests.get("https://jsonplaceholder.typicode.com/todos")
data = json.loads(response.text)

In [173]:
result = pd.json_normalize(
    data
    # ,
    # record_path =['rows','elements'], 
    # meta=['destination_addresses', 'origin_addresses','status'],
    # record_prefix='_'
)

In [174]:
result

     userId   id                                              title  completed
0         1    1                                 delectus aut autem      False
1         1    2                 quis ut nam facilis et officia qui      False
2         1    3                                fugiat veniam minus      False
3         1    4                                   et porro tempora       True
4         1    5  laboriosam mollitia et enim quasi adipisci qui...      False
..      ...  ...                                                ...        ...
195      10  196                consequuntur aut ut fugit similique       True
196      10  197                  dignissimos quo nobis earum saepe       True
197      10  198                       quis eius est sint explicabo       True
198      10  199                       numquam repellendus a magnam       True
199      10  200                       ipsam aperiam voluptates qui      False

[200 rows x 4 columns]